html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* colors*/
.text-whites {
  color: #e1e1e1;
}

.full-height {
  height: 100vh;
}

.bg-darks {
  background-color: #111111 !important;
}

.bg-grey {
  background-color: #292929;
}

.bg-lightgrey {
  background-color: #1f1f1f;
}

.bg-darkgrey {
  background-color: #2c2c2c;
}

.bg-green {
  background-color: #1e2f27;
}

.bg-darkgreen {
  background-color: #187248 !important;
}

.bg-darker {
  color: #343434;
}

.bg-lightred {
  background-color: #342522;
}

.bg-darkred {
  background-color: #823f2f !important;
}

.offwhite {
  color: #c7c7c7;
}

.text-orange {
  color: #fd810a;
}

.font-bold {
  font-weight: 600;
}

.font-bolder {
  font-weight: 700;
}

.text-gray {
  color: #6c6c6c;
}

.font-medium {
  font-size: 30px;
}

.font-md {
  font-size: 20px;
}

.font-mid {
  font-size: 28px;
}

.font-lg {
  font-size: 40px;
}

.font-xl {
  font-size: 50px;
}

.font-xlg {
  font-size: 60px;
}

.red {
  color: #d55c52;
}

.green {
  color: #17aa3d;
}

.text-blue {
  color: #2f575a !important;
}

/* slider css */
.slider .col {
  border-right: 2px solid #444444;
  padding: 0 !important;
  border-left: 1px solid #444444;
}

.slider .col:first-child {
  border-left: none;
}

.productBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.productBox svg {
  font-size: 55px;
}

.productName {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.productPrices {
  /* border-radius: 50%;
  width: 70px;
  height: 65px;
  padding: 10px;
  background: #3d4341; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.productPrices span {
  font-size: 26px;
  font-weight: 600;
}

/* product detail slider css */
.productTitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
}

.priceBox {
  border: 2px solid #474747;
}

.priceOff {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
}

.lineThick {
  text-decoration: line-through;
  text-decoration-thickness: 1px !important;
}

.offText {
  margin-top: -7px;
}

.uptoText {
  margin-top: -25px;
  font-size: 30px;
  letter-spacing: 0px;
}

.saveText {
  letter-spacing: 3px;
}

.handIconWrapper {
  margin-left: -10px;
}

.handIcon {
  margin-top: -25px;
}

.rotateText {
  transform: rotate(-90deg);
}

.saveWrapper {
  width: 70%;
}

.drinkBottle {
  width: 30%;
}

.drinkBottle img {
  min-width: 145px !important;
}

/* table */
.borders {
  border: 2px solid #474747;
  border-radius: 10px;
}

.productImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #3d4341;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableHeader {
  border-bottom: 2px solid #474747;
}

table {
  table-layout: fixed;
  width: 100%;
}

.table>thead {
  background-color: #343434;
}

.table tr,
.table .tabledata {
  border-bottom: 4px solid #1f1f1f;
  vertical-align: middle;
}

.table th {
  padding: 35px 30px !important;
  text-align: center !important;
}

.table th:first-child {
  text-align: start !important;
}

.borderTabledata {
  border-left: 2px solid #474747 !important;
  border-right: 2px solid #474747 !important;
}

.table td:first-child,
.table td:last-child {
  border-left: none !important;
}

.table td {
  padding: 20px 30px !important;
}

.priceIcons {
  margin-right: 30px;
}

.price {
  min-width: 80px;
}

.tabledata:last-child {
  padding: 0px;
}

.table h6 {
  text-align: center !important;
  width: 20% !important;
  margin: 0 !important;
}

.tableBody {
  padding: 0px 25px !important;
  text-align: center !important;
  width: 20% !important;
  margin: 0 !important;
}

.table p {
  padding: 30px 0px !important;
  margin: 0 !important;
}

.table h6:first-child,
.tableBody:first-child {
  text-align: left !important;
  width: 40% !important;
}

.tbHeading {
  background-color: #343434;
  padding: 30px;
  border-bottom: 2px solid #1f1f1f;
}

.slick-list {
  padding: 0 !important;
}

.slick-vertical .slick-slide {
  border: none !important;
}

/* footer */
.footer {
  border-top: 2px solid #0e0e0e;
}

.footer a {
  display: block;
  cursor: pointer;
}

.footerImg {
  width: 45px;
  margin: auto;
}

.slick-track {
  height: unset !important;
}

.time {
  margin-top: -10px;
}

@media only screen and (min-width:2180px) and (max-width:3400px) {

  .saveText,
  .priceIcons svg {
    font-size: 65px !important;
  }

  .uptoText {
    margin-top: -42px;
    font-size: 55px;
  }

  .rotateText {
    font-size: 62px !important;
  }

  .handIconWrapper {
    font-size: 60px;
  }

  .handIcon {
    font-size: 65px;
    margin-top: -35px;
  }

  .productTitle {
    font-size: 45px;
  }

  .table th,
  .table td .font-medium,
  .borderTabledata,
  .tableBody,
  .price,
  .table h6,
  .tableHeader p {
    font-size: 45px;
  }

  .tableBody svg {
    font-size: 35px;
  }

  .footer .font-medium {
    font-size: 45px;
  }

  .footerImg {
    width: 70px;
  }
}

@media only screen and (min-width:1800px) and (max-width:2100px) {

  .saveText,
  .priceIcons svg {
    font-size: 50px !important;
  }

  .uptoText {
    margin-top: -30px;
    font-size: 36px;
  }

  .rotateText {
    font-size: 50px !important;
  }

  .handIconWrapper {
    margin-left: -2px;
    padding-top: 0px !important;
    font-size: 45px;
  }

  .handIcon {
    font-size: 50px !important;
    margin-top: -30px;
  }

  .productTitle {
    font-size: 39px;
  }

  .table th,
  .table td .font-medium,
  .borderTabledata,
  .tableBody,
  .price,
  .table h6 {
    font-size: 30px;
  }

}